@font-face {
    font-family: 'El Tito Adolfo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('El Tito Adolfo Regular'), url('El Tito Adolfo.woff') format('woff');
}

h1 {
    font-family: 'El Tito Adolfo Regular';
    font-weight: 200;
    color: #0ccac4;
}